{{ define "hero-body" }}
<div class="container">
  <h1 class="title">
    {{ .Title }}
  </h1>
  <h2 class="subtitle">
    <div>
      Utolsó módosítás:
      {{ .Date.Format "2006. jan. 02."}}
    </div>
    {{ if .Param "tags" }}
    <br>
    {{ range .Param "tags" }}
    {{ $name := . }}
    {{ with $.Site.GetPage (printf "/%s/%s" "tags" ($name | urlize)) }}
    <a class="tag is-link" href="{{ .Permalink }}">{{ .Title }}</a>
    {{ end }}
    {{ end }}
    {{ end }}
  </h2>
</div>
{{ end }}

{{ define "main" }}
<div class="content is-medium">
  {{ .Content }}
</div>

{{ end }}
