/* ==========================================================================
Post-bulma settings
p.m. 2022. január.
========================================================================== */
.hero.is-info {

    background-color: #58775a;
    color: #fff;

}
a {
    color: #855723;
/*    text-decoration: underline;*/
    font-weight: bold;
}
