{{ define "hero-body" }}
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<div class="container">
    <article class="media">
	<!-- <figure class="image is-64x64 media-left">
	     <img alt="" class="is-rounded" src="https://www.gravatar.com/avatar/{{ md5 $.Site.Params.email }}?s=128&d=identicon"
             width="32" height="32">
	     </figure> -->
	<div class="media-content">
	    <!-- <h1 class="title">
		 {{ $.Site.Params.author }}
		 </h1>
		 <h2 class="subtitle">
		 {{ $.Site.Params.description }}
		 </h2> -->
	</div>
    </article>

    <div class="columns is-warning mb-0 pb-0">
	<div class="column is-2 is-offset-0 is-size-4">
	    {{ range $.Site.RegularPages }}
		{{ if eq .Section "posts" }}
	    <a href="{{ .RelPermalink }}" class="navbar-item">
		{{- .Description -}}
	    </a>
                {{ end }}
            {{ end }}
	</div>
	<div class="column is-8 is-offset-2">
	    <img src="/images/kpeskuvo-hero.jpg" alt="Kati és Péter">
	</div>
    </div>
</div>
{{ end }}
